
* {
    margin: 0;
    padding: 0;
}

#menu {
    background: #ccc;
    width: 200px;
    position: relative;
    div {
        cursor: pointer;
        line-height: 30px;
    }
    a{
        display:block; 
    }
}

.no {
    display: none;
}